@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordGenerator_full {
  background-color: var(--colorWhite);
  flex-direction: column;
  width: 105rem;
  padding: 5rem 12.5rem;
  border-radius: 3.5rem;
}

.rate_password {
  font-size: 5rem;
  font-family: Newake;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5rem;
}
