@font-face {
  font-family: "Acumin";
  font-weight: 700;
  src: local("Acumin-Bold"), url("../fonts/Acumin-Bold.woff") format("woff");
}

@font-face {
  font-family: "Acumin";
  font-weight: 400;
  src: local("Acumin-Regular"), url("../fonts/Acumin-Regular.woff") format("woff");
}

@font-face {
  font-family: "Newake";
  font-weight: 400;
  src: local("Newake-Regular"), url("../fonts/newake-400.otf") format("otf");
}
