:root {
  --badRed: #f34970;
  --midOrange: #f96300;
  --goodGreen: #06d6a1;

  --mainColor: #0071ff;
  --hoverBlue: #0869e1;
  --colorBlack: #26262e;
  --colorWhite: #ffffff;
  --colorLightGrey: #f6f6f6;
  --colorGrey: #d9d9d9;
  --colorDarkGrey: #acacac;

  --backgroundColor: #edf1f4;
}
