:root {
  --badRed: #f34970;
  --midOrange: #F96300;
  --goodGreen: #06D6A1;

  --mainColor: #0071FF;
  --colorBlack: #26262E;
  --colorWhite: #FFFFFF;
  --colorLightGrey: #F6F6F6;
  --colorGrey: #D9D9D9;
  --colorDarkGrey: #ACACAC;

}
