@mixin titlesPasswordOptions() {
  font-size: 2.5rem;
  font-family: "Acumin";
  font-weight: 700;
  padding-bottom: 2.5rem;
  padding-top: 5rem;
  color: var(--colorBlack);
}

.password_templates {
  display: flex;
}

.password_group {
  display: flex;
  align-items: center;
}

.password_templates_title {
  @include titlesPasswordOptions();
}

.password_templates_name {
  display: flex;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: "Acumin";
  font-weight: 400;
  text-transform: lowercase;
  color: var(--colorBlack);
  position: relative;
  padding-right: 2.5rem;
}

.password_templates_labelText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--colorGrey);
  background-color: var(--colorLightGrey);
  transition: 0.5s;
}

input[type="radio"]:hover {
  border: 0.2rem solid var(--mainColor);
}

input[type="radio"]:checked {
  position: relative;
  border: 0.2rem solid var(--mainColor);
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: var(--mainColor);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.password_templates_input {
  cursor: pointer;
}
