.password_input_full {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}

.password_input_container {
  width: 100%;
  position: relative;
}

.password_input {
  width: 100%;
  height: 7rem;
  border: 0.15rem solid var(--colorGrey);
  background-color: var(--colorLightGrey);
  border-radius: 2.5rem;
  color: var(--colorDarkGrey);
  font-family: "Acumin";
  font-weight: 700;
  font-size: 2rem;
  padding-left: 2.5rem;
  padding-top: 0.75rem;
}

.input_image {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  transition: 0.5s;
  transform: rotate(-30deg);
}

.input_image:hover {
  cursor: pointer;
  transform: rotate(0deg);
}

.password_input_button {
  background-color: var(--mainColor);
  border-radius: 3rem;
  color: var(--colorWhite);
  font-family: "Acumin";
  font-weight: 700;
  border: none;
  font-size: 2rem;
  width: 17.3rem;
  margin-left: 2.5rem;
  transition: 0.5s;
}

.password_input_button:hover {
  background-color: var(--hoverBlue);
  cursor: pointer;
}
