@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordGenerator_container {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include center();
  font-size: 10rem;
  font-family: Newake;
  color: var(--colorBlack);
  font-weight: 400;
  padding: 10rem 0rem 5rem 0rem;
}
