@mixin titlesPasswordOptions() {
  font-size: 2.5rem;
  font-family: "Acumin";
  font-weight: 700;
  padding-bottom: 2.5rem;
  padding-top: 5rem;
  color: var(--colorBlack);
}
.password_length_title {
  @include titlesPasswordOptions();
}

.password_length_full {
  display: flex;
}

.password_length_input {
  width: 10rem;
  height: 7.5rem;
  border-radius: 1.5rem;
  border: 0.15rem solid var(--colorGrey);
  background-color: var(--colorLightGrey);
  text-align: center;
  color: var(--colorDarkGrey);
  font-size: 2.5rem;
  font-family: "Acumin";
  font-weight: 700;
}

input[type="text"] {
  padding-top: 0.75rem;
}

.password_length_buttonsAndSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.5rem;
  width: 100%;
}

.password_length_button {
  width: 6rem;
  height: 5rem;
  border-radius: 3.5rem;
  border: 0.2rem solid var(--colorGrey);
  background-color: var(--colorWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.password_length_button:hover {
  border: 0.2rem solid var(--mainColor);
}

.password_length_slider_group {
  width: 100%;
  margin: 0rem 2rem;
  position: relative;
}

.password_length_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: var(--colorGrey);
  outline: none;
}
input[type="range"] {
  cursor: ew-resize;
  transition: box-shadow 0.2s ease-in-out;
}

input[type="range"]:active {
  cursor: grabbing;
}

/* Chrome */
.password_length_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--colorWhite);
  border: 0.2rem solid var(--mainColor);
  appearance: none;
  border-radius: 5rem;
  z-index: 3;
  position: relative;
}

.progressSlider {
  z-index: 1;
  position: absolute;
  margin-top: -0.75rem;
  width: 100%;
  height: 0.5rem;
  background-position: left top;
  background-color: var(--mainColor);
  border-radius: 5rem;
}

/* FireFox */
input[type="range"]::-moz-range-track {
  background-color: var(--colorGrey);
  width: 300px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--colorWhite);
  border: 0.2rem solid var(--mainColor);
  border-radius: 5rem;
  z-index: 5;
  position: relative;
}
input[type="range"]::-moz-range-progress {
  z-index: 1;
  background: var(--mainColor);
  height: 0.5rem;
  border-radius: 1rem;
}

// hide progress bar only in firefox
@-moz-document url-prefix() {
  .progressSlider {
    display: none;
  }
}
